<div class="alert alert-block alert-success">
    <h1 align="center">Pandas Trick 19</h1>
    <h3 align="center">Ordered Categories in Pandas</h3>
    <h4 align="center"><a href="https://github.com/SMSajadi99/Practical-Machine-Learning">Seyed Mohammad Sajadi</a></h5>
</div>

### Importing the libraries

In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import pandas as pd
from pandas.api.types import CategoricalDtype

In [3]:
pd.__version__

'2.0.3'

In [4]:
d = {"ID":[100, 200, 300, 400], "quality":["bad", "very good", "good", "excellent"]}
df = pd.DataFrame(d)
df

    ID    quality
0  100        bad
1  200  very good
2  300       good
3  400  excellent

In [5]:
#Let's create our own categorical order.
cat_type = CategoricalDtype(["bad", "good", "very good", "excellent"], ordered = True)
df["quality"] = df["quality"].astype(cat_type)
df

    ID    quality
0  100        bad
1  200  very good
2  300       good
3  400  excellent

In [6]:
#Now we can use logical sorting
df = df.sort_values("quality", ascending = True)
df

    ID    quality
0  100        bad
2  300       good
1  200  very good
3  400  excellent

In [7]:
#We can also filter this as if they are numbers
df[df["quality"] > "bad"]

    ID    quality
2  300       good
1  200  very good
3  400  excellent