<div class="alert alert-block alert-success">
    <h1 align="center">Pandas Trick 09</h1>
    <h3 align="center">Query</h3>
    <h4 align="center"><a href="https://github.com/SMSajadi99/Practical-Machine-Learning">Seyed Mohammad Sajadi</a></h5>
</div>

### Importing the libraries

In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.0.3'

In [3]:
import warnings
warnings.filterwarnings('ignore')

## Import Dataset & Make Dataframe

In [5]:
df = pd.read_csv('stocks.csv')
df.head()

         Date   Close    Volume Symbol
0  2016-10-03   31.50  14070500   CSCO
1  2016-10-03  112.52  21701800   AAPL
2  2016-10-03   57.42  19189500   MSFT
3  2016-10-04  113.00  29736800   AAPL
4  2016-10-04   57.24  20085900   MSFT

In [6]:
df[df.Symbol == 'AAPL']

         Date   Close    Volume Symbol
1  2016-10-03  112.52  21701800   AAPL
3  2016-10-04  113.00  29736800   AAPL
8  2016-10-05  113.05  21453100   AAPL

In [7]:
df.query("Symbol == 'AAPL'")

         Date   Close    Volume Symbol
1  2016-10-03  112.52  21701800   AAPL
3  2016-10-04  113.00  29736800   AAPL
8  2016-10-05  113.05  21453100   AAPL

In [10]:
df.groupby('Symbol').mean(numeric_only=True)

             Close        Volume
Symbol
AAPL    112.856667  2.429723e+07
CSCO     31.480000  1.477983e+07
MSFT     57.433333  1.866727e+07

In [11]:
temp = df.groupby('Symbol').mean(numeric_only=True)
temp[temp.Close < 100]

            Close        Volume
Symbol
CSCO    31.480000  1.477983e+07
MSFT    57.433333  1.866727e+07

In [12]:
df.groupby('Symbol').mean(numeric_only=True).query('Close < 100')

            Close        Volume
Symbol
CSCO    31.480000  1.477983e+07
MSFT    57.433333  1.866727e+07