<div class="alert alert-block alert-success">
    <h1 align="center">Pandas Trick 21</h1>
    <h3 align="center">Keep Track of Where data is coming</h3>
    <h4 align="center"><a href="https://github.com/SMSajadi99/Practical-Machine-Learning">Seyed Mohammad Sajadi</a></h5>
</div>

### Importing the libraries

In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import numpy as np
import pandas as pd
import os

In [3]:
pd.__version__

'1.5.3'

## Make Dataframe

In [4]:
def generate_sample_data(): # creates a fake df for testing
    number_rows = 25
    num_cols = 6
    cols = list("ABCDEF")
    df = pd.DataFrame(np.random.randint(1, 25, size = (number_rows, num_cols)), columns=cols)
    df.index = pd.util.testing.makeIntIndex(number_rows)
    return df

In [5]:
# let's generate some fake data
df1 = generate_sample_data()
df2 = generate_sample_data()
df3 = generate_sample_data()

In [6]:
df1.head()
# df2.head()
# df3.head()

    A   B   C   D   E   F
0   7   5   4  16  23  23
1  11   3  11  10   4  17
2  22  13   6  10  18   8
3  15  20  19  14   8   3
4  10   9  18   3   4   3

In [7]:
df1.to_csv("trick21_1.csv")
df2.to_csv("trick21_2.csv")
df3.to_csv("trick21_3.csv")

In [8]:
pwd

'/media/sajadi/38F235E9F235ABCE/Github/Practical-Machine-Learning/01-Pandas/Trick-21'

In [13]:
# Step 1 generate list with the file name
lf = []
for root, _, files in os.walk("."):  # "." indicates the current directory
    for f in files:
        if "trick21" in f and f.endswith(".csv"):
            lf.append(f)


lf

['trick21_1.csv', 'trick21_2.csv', 'trick21_3.csv']

In [14]:
df = pd.concat((pd.read_csv(file).assign(filename = file) for file in lf), ignore_index = True)
df.sample(10)

    Unnamed: 0   A   B   C   D   E   F       filename
32           7   5  19   8   1   7  18  trick21_2.csv
69          19  16  13  20  20  14  24  trick21_3.csv
39          14   8   7  14  16   9   4  trick21_2.csv
46          21   3  22   7  19  13  18  trick21_2.csv
49          24  18   5  24  23  11  23  trick21_2.csv
35          10  16  23   5  15  24  21  trick21_2.csv
17          17  17   8   1  20  10   3  trick21_1.csv
12          12  23   7  12   9   6   3  trick21_1.csv
61          11  12  22   5   4   4   8  trick21_3.csv
21          21  19  16  10  12   9  24  trick21_1.csv